
body{
	background-image:url('../backgroud.jpg');
	background-image:cover;
	color:#ffff;

	height:100vh;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;

	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
}

h1 {
		font-size:3.5em;
}


.countdown{
  display: inline-block;
	font-size: 1.7em;
	padding:1em;
}

.countdown span {
	display: block;
	margin:2px;
	font-size: 5rem;
}